body {
  background-color: #efc2fd;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: turquoise;
}

p {
  color: rgb(38, 143, 132);
  font-style: italic;
}

.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 275px;
}
.emojis2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

h3 {
  font-size: xx-large;
  color: turquoise;
  padding: 50px 2px;
  border: 8px dotted rgb(71, 206, 192);
  border-radius: 30px;
  background-color: rgb(198, 235, 231);
}

.img__wrap {
  position: relative;
  height: 82px;
  width: 200px;
  margin: auto;
  padding-top: 20px;
}

.img__description {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  width: 200px;
  height: 82px;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.button {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: turquoise;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-style: italic;
}
.circle:hover {
  background: rgb(38, 143, 132);
  transform: rotate(360deg);
}

section.page2 {
  display: none;
}

.animate-click {
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.animated-click {
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-600px);
  }
}

@keyframes moved {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateY(500px);
  }
}
